# Prefer US English and use UTF-8.
export LANG='{{ dotfiles_locale }}';
export LC_ALL='{{ dotfiles_locale }}';

# Preferred editor for local and remote sessions
if [[ -n $SSH_CONNECTION ]]; then
  export EDITOR='vim'
else
  export EDITOR='{{ dotfiles_default_editor }}'
fi

# Change terminal colors on osx only in a tmux session
[ -n "$TMUX" ] && export TERM='screen-256color'

# Don’t clear the screen after quitting a manual page.
export MANPAGER='less -X';

# Go apps & sources directory
export GOPATH='{{ dotfiles_go_path | expanduser }}'

# Using vim as a pager
export PAGER='{{ dotfiles_default_pager }}'

# PATH
PATH="$PATH:{{ dotfiles_go_path + 'bin' | expanduser }}"
