[user]
  name = {{ dotfiles_git_name }}
  email = {{ dotfiles_git_email }}
[core]
  excludesfile = ~/.gitignore
  quotepath = false
  editor = {{ dotfiles_git_editor | default('vim') }}
  pager = {{ dotfiles_git_pager | default('less --tabs=4 -RFX') }}
[push]
  default = simple
  followTags = true
[color]
  ui = auto
  status = auto
  branch = auto
[diff-so-fancy]
  markEmptyLines = false
{% if dev_distribution == 'macosx' %}
[credential]
  helper = osxkeychain
{% endif %}
