#jinja2:trim_blocks: False
# Path to your oh-my-zsh installation.
export ZSH=$HOME/.oh-my-zsh

# Set name of the theme to load.
ZSH_THEME="robbyrussell"

# Uncomment the following line if you want to disable marking untracked files
# under VCS as dirty. This makes repository status check for large repositories
# much, much faster.
# DISABLE_UNTRACKED_FILES_DIRTY="true"

# Uncomment the following line if you want to change the command execution time
# stamp shown in the history command output.
# The optional three formats: "mm/dd/yyyy"|"dd.mm.yyyy"|"yyyy-mm-dd"
# HIST_STAMPS="mm/dd/yyyy"

# Would you like to use another custom folder than $ZSH/custom?
# ZSH_CUSTOM=/path/to/new-custom-folder

# Which plugins would you like to load? (plugins can be found in ~/.oh-my-zsh/plugins/*)
# Custom plugins may be added to ~/.oh-my-zsh/custom/plugins/
# Example format: plugins=(rails git textmate ruby lighthouse)
# Add wisely, as too many plugins slow down shell startup.
{%- if dev_distribution == 'darwin' and darwin_zsh_plugins %}
plugins=({{ (dotfiles_zsh_plugins + darwin_zsh_plugins) | join(' ') }})
{% elif debian_zsh_plugins %}
plugins=({{ (dotfiles_zsh_plugins + debian_zsh_plugins) | join(' ') }})
{% endif -%}

# User configuration
source $ZSH/oh-my-zsh.sh

# .exports for exporting vars
# .aliases for all the alias and unalias things
# .functions for the custom zsh functions
# .extra for host specific infos (will not be overriden by good-start)
for file in ~/.{exports,aliases,functions,extra}; do
	[ -r "$file" ] && [ -f "$file" ] && source "$file";
done;
unset file;

######################
# Keyboard shortcuts #
######################

# Inspired by https://stackoverflow.com/a/12403798
bindkey -e
{% for shortcut in dotfiles_terminal_shortcuts %}
bindkey '{{ shortcut.sequence }}' {{ shortcut.action }}{% if shortcut.comment is defined %} # {{ shortcut.comment }}{% endif %}
{% endfor %}

#######################
# https://direnv.net/ #
#######################

eval "$(direnv hook zsh)"

##################
# fzf completion #
##################

[ -f ~/.fzf.zsh ] && source ~/.fzf.zsh
