enable_real_transparency = True
force_no_bell = True
titlebars = False
handle_size = 1

[keybindings]
full_screen = <Ctrl><Shift>F11

use_custom_command = true
custom_command = /bin/zsh

[profiles]
  [[default]]
    scrollback_lines = 4000
